div.link-container {
  margin-bottom: 5px;
}

.text-block {
  word-break: break-word;
}

pre {
  margin: 3px 0px;
  padding: 5px;
  background-color: #dedede;
  white-space: pre-wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
}

.retry-btn {
  height: 25px;
  padding: 5px;
  width: 150px;
  font-weight: 500;
}

.alert {
  margin-bottom: 0;
}

.error-container {
  margin-top: 10px;
  font-size: 13px;
}

.external-link-icon{
  font-size: 9px;
}