div.link-container {
  margin-bottom: 5px;
}

.text-block {
  word-break: break-word;
}

.tic-gauge-container {
  max-height: 100px;
  flex: 0 0 75px;
}

pre {
  margin: 3px 0px;
  padding: 5px;
  background-color: #dedede;
  white-space: pre-wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 200px;
}

.external-link{
  font-size: 8px;
  margin-bottom: 1px;
}

.retry-btn {
  height: 25px;
  padding: 5px;
  width: 150px;
  font-weight: 500;
}

.alert {
  margin-bottom: 0;
}

.error-container {
  margin-top: 10px;
  font-size: 13px;
}

.external-link-icon {
  font-size: 9px;
}

.analyst-notes {
  margin-top: 10px;
  font-size: 13px;
  border: 1px;
  border-style: solid;
  border-color: #dedede;
  padding: 5px;
}

.scrollable-block {
  overflow-y: auto;
  max-height: 200px;
  width: 100%;
  margin-top: 2%;
  font-size: 7px;

  &.padded {
    padding: 5px;
  }
}

.p-block {
  word-wrap: break-word;
  word-break: break-word;
}
